.feedback {
       padding-bottom: 157px;
       max-width: 912px;
       width: 100%;
}

.feedback_section {
       padding-top: 50px;
}

/* .feedback_heading {
       margin: 24px 0;
       font-family: 'Mulish', sans-serif;
       font-weight: 700;
       font-size: 32px;
} */