.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 912px;
    width: 100%;
}

.dateail_heading {
    margin: 24px 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.detail_image {
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    max-height: 800px;
    height: 100%;
}

.detail_link {
    display: flex;
    align-items: center;
    margin: 24px 0;
    text-decoration: none;
}

.detail_link_text {
    margin: 0;
    margin-left: 4px;
    color: #0065C1;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.detail_body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* 
.detail_section {
    display: flex;
    align-self: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
}

.detail_section_inner {
    display: flex;
    align-items: center;
}

.investment_item_date_sec {
    display: flex;
    align-items: center;
}

.investment_item_date {
    margin: 0;
    margin-left: 8px;
}

.detail_view_section {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.detail_view_text {
    margin: 0;
    margin-left: 4px;
}

.detail_sotiol {
    display: flex;
    align-items: center;
}

.detail_share_icon {
    margin-right: 20px;
}

.detail_body_text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.detail_body_text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
} */


