.trans_detail_swip_item {
       display: flex;
       align-items: center;
       justify-content: space-between;
       max-width: 600px;
       width: 100%;
}


.trans_detail_swip_link {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 24px 0;
       height: 360px;
       /* max-width: 600px; */
       width: 100%;
       background-color: #F3F3F3;
       border-radius: 8px;
       text-decoration: none;
}

.trans_detail_swip_title {
       margin: 0;
       margin-bottom: 8px;
       font-family: "Montserrat", sans-serif;
       font-style: normal;
       font-weight: 600;
       font-size: 20px;
       line-height: 29px;
       color: #000000;
}

.element_detail_swip_summary {
       margin: 0;
       font-family: "Mulish";
       font-style: normal;
       font-weight: 500;
       font-size: 18px      ;
       color: #000000;
       margin-bottom: 20px;
}

.element_detail_swip_image {
       width: 100%;
       max-width: 420px;
       border-radius: 10px;
       height: 240px;
}

.transid_btn {
       margin-top: 20px;
       border: none;
       background-color: transparent;
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 16px;
       cursor: pointer;
}

.trans_detail_swip_link:hover .transid_btn {
       color: rgb(0, 0, 188);
}

/* SITE STYLE */
.about_heading {
       margin: 24px 0;
       font-family: 'Mulish', sans-serif;
       font-weight: 700;
       font-size: 32px;
}

.about_us_image {
       margin-bottom: 24px;
       border-radius: 16px;
       width: 100%;
}

.about_us_text p {
       margin: 0;
       font-family: 'Inter', sans-serif;
       font-weight: 400;
       font-size: 18px;
}

.about_us_text_second p {
       margin: 0;
       font-family: 'Inter', sans-serif;
       font-weight: 400;
       font-size: 18px;
       width: 100%;
}

.about_us_bottom_section {
       display: flex;
       align-items: flex-end;
}

.about_us_center_img {
       margin: 0 0 24px 24px;
       max-width: 496px;
       border-radius: 8px;
}

.about_us_bus_heading {
       margin: 24px 0;
       font-family: 'Mulish', sans-serif;
       font-weight: 700;
       font-size: 32px;
}

@media only screen and (max-width: 890px) {
       .about_us_bottom_section {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
       }

       .about_us_center_img {
              margin: 24px 0;
              width: 100%;
              border-radius: 8px;
       }
}

@media only screen and (max-width: 1250px) {
       .trans_detail_swip_item {
              /* max-width: 500px; */
              width: 100%;
       }
       .element_detail_swip_image {
              width: 100%;
              max-width: 300px;
       }
}

@media only screen and (max-width: 840px) {
       .element_detail_swip_image {
              width: 100%;
       }
}